/*   DEFAULT HTML CLASSES   */
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}

html {
    font-family: "Roboto";
    font-size: 16px;
    color: #ffffff;
    overflow-wrap: anywhere;
    margin: 0 6vw;
    background-color: black;
}

header {
    margin-top: 2vh;
    font-size: clamp(2rem, 5vw, 3rem);
    height: fit-content;
}

body {
    background: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    margin: 0 calc(-1 * 6vw);
    padding: 3vh 6vw;
    font-size: clamp(1rem, 3vw, 1.25rem);
    background-color: rgba(25, 25, 25, 0.4);
}

/*   BASIC FORMATTING   */
h1 {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
}

p,
ul,
ol,
li {
    font-size: clamp(1rem, 3vw, 1.25rem);
}

/*   LINKS   */
a {
    color: #69ff8f;
    text-decoration: solid;
}
a:hover {
    color: #69ff8f;
    text-decoration: underline;
}
a:visited {
    color: #69ff8f;
    text-decoration: solid;
}
a:active {
    color: #a8ffdb;
    text-decoration: underline;
}

/*   CLASSES   */
.img-bordered {
    border-style: solid;
    border-width: 3px;
    border-radius: 10pt;
    border-color: #525252;
}
.img-head {
    margin-top: 0;
    width: 100%;
    height: 20vh;
}

/*   RULES FOR DIFFERENT RESOLUTIONS   */
@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
}
