<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title id="header-text">Ты@mifizz.pw</title>
</head>
<body>

    <div id="header"></div>

    <main>
        <p class="intro">
            Привет, я {{ user }} - разработчик, линуксоид и просто прикольный чел :3
        </p>
        <div class="contacts">
            <ul>
                Мои контакты:

                <li><a href="https://t.me/fvckinmifizz">telegram</a></li>
                <li><a href="https://mastodon.social/@mifizz">mastodon</a></li>
                <li><a href="https://github.com/mifizz">github</a></li>
                <li><a href="https://steamcommunity.com/id/mifizz">steam</a></li>
            </ul>
        </div>
    </main>
    
    <div id="footer"></div>

    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>

</body>
</html>